In [ ]:
!pip install pandas

In [2]:
import pandas as pd

In [4]:
df =pd.read_csv("F:\\Dataset\\onlineretails.csv")

In [5]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Data_copy,descrip
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850.0,United Kingdom,12/1/10 8:26,WHITE HANGING HEART T-LIGHT HOLDER
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01,3.39,17850.0,United Kingdom,12/1/10 8:26,WHITE METAL LANTERN
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01,2.75,17850.0,United Kingdom,12/1/10 8:26,CREAM CUPID HEARTS COAT HANGER
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01,3.39,17850.0,United Kingdom,12/1/10 8:26,KNITTED UNION FLAG HOT WATER BOTTLE
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01,3.39,17850.0,United Kingdom,12/1/10 8:26,RED WOOLLY HOTTIE WHITE HEART.
...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09,0.85,12680.0,France,12/9/11 12:50,PACK OF 20 SPACEBOY NAPKINS
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09,2.10,12680.0,France,12/9/11 12:50,CHILDREN'S APRON DOLLY GIRL
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09,4.15,12680.0,France,12/9/11 12:50,CHILDRENS CUTLERY DOLLY GIRL
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09,4.15,12680.0,France,12/9/11 12:50,CHILDRENS CUTLERY CIRCUS PARADE
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09,4.95,12680.0,France,12/9/11 12:50,BAKING SET 9 PIECE RETROSPOT

In [6]:
pd.read_json("F:\\Dataset\\Order.json")

                                                orders
0    {'orderID': 10248, 'customerID': 'VINET', 'emp...
1    {'orderID': 10249, 'customerID': 'TOMSP', 'emp...
2    {'orderID': 10250, 'customerID': 'HANAR', 'emp...
3    {'orderID': 10251, 'customerID': 'VICTE', 'emp...
4    {'orderID': 10252, 'customerID': 'SUPRD', 'emp...
..                                                 ...
825  {'orderID': 11073, 'customerID': 'PERIC', 'emp...
826  {'orderID': 11074, 'customerID': 'SIMOB', 'emp...
827  {'orderID': 11075, 'customerID': 'RICSU', 'emp...
828  {'orderID': 11076, 'customerID': 'BONAP', 'emp...
829  {'orderID': 11077, 'customerID': 'RATTC', 'emp...

[830 rows x 1 columns]

In [11]:
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Data_copy,descrip
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850.0,United Kingdom,12/1/10 8:26,WHITE HANGING HEART T-LIGHT HOLDER
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01,3.39,17850.0,United Kingdom,12/1/10 8:26,WHITE METAL LANTERN
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01,2.75,17850.0,United Kingdom,12/1/10 8:26,CREAM CUPID HEARTS COAT HANGER
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01,3.39,17850.0,United Kingdom,12/1/10 8:26,KNITTED UNION FLAG HOT WATER BOTTLE
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01,3.39,17850.0,United Kingdom,12/1/10 8:26,RED WOOLLY HOTTIE WHITE HEART.
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01,7.65,17850.0,United Kingdom,12/1/10 8:26,SET 7 BABUSHKA NESTING BOXES
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01,4.25,17850.0,United Kingdom,12/1/10 8:26,GLASS STAR FROSTED T-LIGHT HOLDER
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01,1.85,17850.0,United Kingdom,12/1/10 8:28,HAND WARMER UNION JACK
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01,1.85,17850.0,United Kingdom,12/1/10 8:28,HAND WARMER RED POLKA DOT
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01,1.69,13047.0,United Kingdom,12/1/10 8:34,ASSORTED COLOUR BIRD ORNAMENT

In [12]:
df.tail(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Data_copy,descrip
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,2011-12-09,3.75,12680.0,France,12/9/11 12:50,ALARM CLOCK BAKELIKE GREEN
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09,3.75,12680.0,France,12/9/11 12:50,ALARM CLOCK BAKELIKE IVORY
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,2011-12-09,1.95,12680.0,France,12/9/11 12:50,CHILDRENS APRON SPACEBOY DESIGN
541902,581587,22629,SPACEBOY LUNCH BOX,12,2011-12-09,1.95,12680.0,France,12/9/11 12:50,SPACEBOY LUNCH BOX
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,2011-12-09,4.15,12680.0,France,12/9/11 12:50,CHILDRENS CUTLERY SPACEBOY
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09,0.85,12680.0,France,12/9/11 12:50,PACK OF 20 SPACEBOY NAPKINS
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09,2.10,12680.0,France,12/9/11 12:50,CHILDREN'S APRON DOLLY GIRL
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09,4.15,12680.0,France,12/9/11 12:50,CHILDRENS CUTLERY DOLLY GIRL
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09,4.15,12680.0,France,12/9/11 12:50,CHILDRENS CUTLERY CIRCUS PARADE
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09,4.95,12680.0,France,12/9/11 12:50,BAKING SET 9 PIECE RETROSPOT

In [10]:
df.sample(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Data_copy,descrip
467972,576381,79321,CHILLI LIGHTS,4,2011-11-15,5.75,12839.0,United Kingdom,11/15/11 9:26,CHILLI LIGHTS
341017,566730,21204,DAISIES HONEYCOMB GARLAND,1,2011-09-14,1.65,14606.0,United Kingdom,9/14/11 13:31,DAISIES HONEYCOMB GARLAND
146482,548990,22349,DOG BOWL CHASING BALL DESIGN,6,2011-04-05,3.75,16170.0,United Kingdom,4/5/11 13:42,DOG BOWL CHASING BALL DESIGN
205218,554762,23173,REGENCY TEAPOT ROSES,2,2011-05-26,9.95,16837.0,United Kingdom,5/26/11 11:37,REGENCY TEAPOT ROSES
404838,571696,22720,SET OF 3 CAKE TINS PANTRY DESIGN,3,2011-10-18,4.95,15604.0,United Kingdom,10/18/11 14:47,SET OF 3 CAKE TINS PANTRY DESIGN
169813,551258,23199,JUMBO BAG APPLES,20,2011-04-27,2.08,12621.0,Germany,4/27/11 12:02,JUMBO BAG APPLES
491766,578074,23329,DECORATIVE WICKER HEART LARGE,3,2011-11-22,1.65,17590.0,United Kingdom,11/22/11 16:06,DECORATIVE WICKER HEART LARGE
34150,539321,82484,WOOD BLACK BOARD ANT WHITE FINISH,1,2010-12-16,6.45,14723.0,United Kingdom,12/16/10 19:19,WOOD BLACK BOARD ANT WHITE FINISH
164469,550644,47580,TEA TIME DES TEA COSY,3,2011-04-19,2.55,12733.0,USA,4/19/11 16:19,TEA TIME DES TEA COSY
173331,551693,22460,EMBOSSED GLASS TEALIGHT HOLDER,12,2011-05-03,1.25,15582.0,United Kingdom,5/3/11 13:36,EMBOSSED GLASS TEALIGHT HOLDER

In [14]:
df.shape

(541909, 10)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   541909 non-null  float64
 7   Country      541909 non-null  object
 8   Data_copy    541909 non-null  object
 9   descrip      540455 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 41.3+ MB

In [17]:
df.isnull().sum()

InvoiceNo         0
StockCode         0
Description    1454
Quantity          0
InvoiceDate       0
UnitPrice         0
CustomerID        0
Country           0
Data_copy         0
descrip        1454
dtype: int64

In [19]:
type(df.InvoiceNo)

pandas.core.series.Series

In [20]:
type(df)

pandas.core.frame.DataFrame

In [22]:
df["InvoiceNo","Quantity" ]

KeyError: ('InvoiceNo', 'Quantity')

In [23]:
df[["InvoiceNo","Quantity" ]]

       InvoiceNo  Quantity
0         536365         6
1         536365         6
2         536365         8
3         536365         6
4         536365         6
...          ...       ...
541904    581587        12
541905    581587         6
541906    581587         4
541907    581587         4
541908    581587         3

[541909 rows x 2 columns]

In [25]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Quantity,541909.0,10.446368,155.292426,0.00,1.00,3.00,10.00,80995.0
UnitPrice,541909.0,4.611114,96.759853,-11062.06,1.25,2.08,4.13,38970.0
CustomerID,541909.0,11476.974671,6777.908326,0.00,12352.00,14382.00,16255.00,18287.0

In [26]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'Data_copy', 'descrip'],
      dtype='object')

In [27]:
df["sales"] = "Null"

In [28]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Data_copy,descrip,sales
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850.0,United Kingdom,12/1/10 8:26,WHITE HANGING HEART T-LIGHT HOLDER,Null
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01,3.39,17850.0,United Kingdom,12/1/10 8:26,WHITE METAL LANTERN,Null
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01,2.75,17850.0,United Kingdom,12/1/10 8:26,CREAM CUPID HEARTS COAT HANGER,Null
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01,3.39,17850.0,United Kingdom,12/1/10 8:26,KNITTED UNION FLAG HOT WATER BOTTLE,Null
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01,3.39,17850.0,United Kingdom,12/1/10 8:26,RED WOOLLY HOTTIE WHITE HEART.,Null
...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09,0.85,12680.0,France,12/9/11 12:50,PACK OF 20 SPACEBOY NAPKINS,Null
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09,2.10,12680.0,France,12/9/11 12:50,CHILDREN'S APRON DOLLY GIRL,Null
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09,4.15,12680.0,France,12/9/11 12:50,CHILDRENS CUTLERY DOLLY GIRL,Null
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09,4.15,12680.0,France,12/9/11 12:50,CHILDRENS CUTLERY CIRCUS PARADE,Null
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09,4.95,12680.0,France,12/9/11 12:50,BAKING SET 9 PIECE RETROSPOT,Null

In [29]:
df["sales"] = df["Quantity"] * df["UnitPrice"]

In [30]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Data_copy,descrip,sales
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850.0,United Kingdom,12/1/10 8:26,WHITE HANGING HEART T-LIGHT HOLDER,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01,3.39,17850.0,United Kingdom,12/1/10 8:26,WHITE METAL LANTERN,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01,2.75,17850.0,United Kingdom,12/1/10 8:26,CREAM CUPID HEARTS COAT HANGER,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01,3.39,17850.0,United Kingdom,12/1/10 8:26,KNITTED UNION FLAG HOT WATER BOTTLE,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01,3.39,17850.0,United Kingdom,12/1/10 8:26,RED WOOLLY HOTTIE WHITE HEART.,20.34
...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09,0.85,12680.0,France,12/9/11 12:50,PACK OF 20 SPACEBOY NAPKINS,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09,2.10,12680.0,France,12/9/11 12:50,CHILDREN'S APRON DOLLY GIRL,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09,4.15,12680.0,France,12/9/11 12:50,CHILDRENS CUTLERY DOLLY GIRL,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09,4.15,12680.0,France,12/9/11 12:50,CHILDRENS CUTLERY CIRCUS PARADE,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09,4.95,12680.0,France,12/9/11 12:50,BAKING SET 9 PIECE RETROSPOT,14.85

In [32]:
df["Country"].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [33]:
df["Country"].value_counts()

Country
United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: count, dtype: int64

In [35]:
df["Description"].isna().sum()

1454

In [38]:
df["Description"].mode()

0    WHITE HANGING HEART T-LIGHT HOLDER
Name: Description, dtype: object

In [ ]:
"WHITE HANGING HEART T-LIGHT HOLDER"

In [39]:
df["Description"].fillna("WHITE HANGING HEART T-LIGHT HOLDER")

0          WHITE HANGING HEART T-LIGHT HOLDER
1                         WHITE METAL LANTERN
2              CREAM CUPID HEARTS COAT HANGER
3         KNITTED UNION FLAG HOT WATER BOTTLE
4              RED WOOLLY HOTTIE WHITE HEART.
                         ...
541904            PACK OF 20 SPACEBOY NAPKINS
541905           CHILDREN'S APRON DOLLY GIRL
541906          CHILDRENS CUTLERY DOLLY GIRL
541907        CHILDRENS CUTLERY CIRCUS PARADE
541908          BAKING SET 9 PIECE RETROSPOT
Name: Description, Length: 541909, dtype: object

In [40]:
df["Description"].isna().sum()

1454

In [41]:
df["Description"] = df["Description"].fillna("WHITE HANGING HEART T-LIGHT HOLDER")

In [42]:
df["Description"].isna().sum()

0

In [43]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Data_copy,descrip,sales
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850.0,United Kingdom,12/1/10 8:26,WHITE HANGING HEART T-LIGHT HOLDER,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01,3.39,17850.0,United Kingdom,12/1/10 8:26,WHITE METAL LANTERN,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01,2.75,17850.0,United Kingdom,12/1/10 8:26,CREAM CUPID HEARTS COAT HANGER,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01,3.39,17850.0,United Kingdom,12/1/10 8:26,KNITTED UNION FLAG HOT WATER BOTTLE,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01,3.39,17850.0,United Kingdom,12/1/10 8:26,RED WOOLLY HOTTIE WHITE HEART.,20.34
...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09,0.85,12680.0,France,12/9/11 12:50,PACK OF 20 SPACEBOY NAPKINS,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09,2.10,12680.0,France,12/9/11 12:50,CHILDREN'S APRON DOLLY GIRL,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09,4.15,12680.0,France,12/9/11 12:50,CHILDRENS CUTLERY DOLLY GIRL,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09,4.15,12680.0,France,12/9/11 12:50,CHILDRENS CUTLERY CIRCUS PARADE,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09,4.95,12680.0,France,12/9/11 12:50,BAKING SET 9 PIECE RETROSPOT,14.85

In [45]:
df.drop("descrip",axis= 1)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Data_copy,sales
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850.0,United Kingdom,12/1/10 8:26,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01,3.39,17850.0,United Kingdom,12/1/10 8:26,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01,2.75,17850.0,United Kingdom,12/1/10 8:26,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01,3.39,17850.0,United Kingdom,12/1/10 8:26,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01,3.39,17850.0,United Kingdom,12/1/10 8:26,20.34
...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09,0.85,12680.0,France,12/9/11 12:50,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09,2.10,12680.0,France,12/9/11 12:50,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09,4.15,12680.0,France,12/9/11 12:50,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09,4.15,12680.0,France,12/9/11 12:50,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09,4.95,12680.0,France,12/9/11 12:50,14.85

In [46]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Data_copy,descrip,sales
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850.0,United Kingdom,12/1/10 8:26,WHITE HANGING HEART T-LIGHT HOLDER,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01,3.39,17850.0,United Kingdom,12/1/10 8:26,WHITE METAL LANTERN,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01,2.75,17850.0,United Kingdom,12/1/10 8:26,CREAM CUPID HEARTS COAT HANGER,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01,3.39,17850.0,United Kingdom,12/1/10 8:26,KNITTED UNION FLAG HOT WATER BOTTLE,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01,3.39,17850.0,United Kingdom,12/1/10 8:26,RED WOOLLY HOTTIE WHITE HEART.,20.34
...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09,0.85,12680.0,France,12/9/11 12:50,PACK OF 20 SPACEBOY NAPKINS,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09,2.10,12680.0,France,12/9/11 12:50,CHILDREN'S APRON DOLLY GIRL,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09,4.15,12680.0,France,12/9/11 12:50,CHILDRENS CUTLERY DOLLY GIRL,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09,4.15,12680.0,France,12/9/11 12:50,CHILDRENS CUTLERY CIRCUS PARADE,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09,4.95,12680.0,France,12/9/11 12:50,BAKING SET 9 PIECE RETROSPOT,14.85

In [47]:
df.drop("descrip",axis= 1, inplace = True)

In [48]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Data_copy,sales
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850.0,United Kingdom,12/1/10 8:26,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01,3.39,17850.0,United Kingdom,12/1/10 8:26,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01,2.75,17850.0,United Kingdom,12/1/10 8:26,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01,3.39,17850.0,United Kingdom,12/1/10 8:26,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01,3.39,17850.0,United Kingdom,12/1/10 8:26,20.34
...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09,0.85,12680.0,France,12/9/11 12:50,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09,2.10,12680.0,France,12/9/11 12:50,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09,4.15,12680.0,France,12/9/11 12:50,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09,4.15,12680.0,France,12/9/11 12:50,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09,4.95,12680.0,France,12/9/11 12:50,14.85

In [51]:
#df['datetime'] = pd.to_datetime(df['datetime'], format='%m/%d/%y %H:%M')

df["Data_copy"] = pd.to_datetime(df["Data_copy"], format = '%m/%d/%y %H:%M')

In [52]:
df["Data_copy"]

0        2010-12-01 08:26:00
1        2010-12-01 08:26:00
2        2010-12-01 08:26:00
3        2010-12-01 08:26:00
4        2010-12-01 08:26:00
                 ...
541904   2011-12-09 12:50:00
541905   2011-12-09 12:50:00
541906   2011-12-09 12:50:00
541907   2011-12-09 12:50:00
541908   2011-12-09 12:50:00
Name: Data_copy, Length: 541909, dtype: datetime64[ns]

In [53]:
df["Date"]  = df["Data_copy"].dt.date

In [54]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Data_copy,sales,Date
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850.0,United Kingdom,2010-12-01 08:26:00,15.30,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01,3.39,17850.0,United Kingdom,2010-12-01 08:26:00,20.34,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01,2.75,17850.0,United Kingdom,2010-12-01 08:26:00,22.00,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01,3.39,17850.0,United Kingdom,2010-12-01 08:26:00,20.34,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01,3.39,17850.0,United Kingdom,2010-12-01 08:26:00,20.34,2010-12-01
...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09,0.85,12680.0,France,2011-12-09 12:50:00,10.20,2011-12-09
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09,2.10,12680.0,France,2011-12-09 12:50:00,12.60,2011-12-09
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09,4.15,12680.0,France,2011-12-09 12:50:00,16.60,2011-12-09
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09,4.15,12680.0,France,2011-12-09 12:50:00,16.60,2011-12-09
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09,4.95,12680.0,France,2011-12-09 12:50:00,14.85,2011-12-09

In [55]:
df["Time"]  = df["Data_copy"].dt.time

In [56]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Data_copy,sales,Date,Time
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850.0,United Kingdom,2010-12-01 08:26:00,15.30,2010-12-01,08:26:00
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01,3.39,17850.0,United Kingdom,2010-12-01 08:26:00,20.34,2010-12-01,08:26:00
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01,2.75,17850.0,United Kingdom,2010-12-01 08:26:00,22.00,2010-12-01,08:26:00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01,3.39,17850.0,United Kingdom,2010-12-01 08:26:00,20.34,2010-12-01,08:26:00
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01,3.39,17850.0,United Kingdom,2010-12-01 08:26:00,20.34,2010-12-01,08:26:00
...,...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09,0.85,12680.0,France,2011-12-09 12:50:00,10.20,2011-12-09,12:50:00
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09,2.10,12680.0,France,2011-12-09 12:50:00,12.60,2011-12-09,12:50:00
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09,4.15,12680.0,France,2011-12-09 12:50:00,16.60,2011-12-09,12:50:00
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09,4.15,12680.0,France,2011-12-09 12:50:00,16.60,2011-12-09,12:50:00
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09,4.95,12680.0,France,2011-12-09 12:50:00,14.85,2011-12-09,12:50:00

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  541909 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   541909 non-null  float64
 7   Country      541909 non-null  object
 8   Data_copy    541909 non-null  datetime64[ns]
 9   sales        541909 non-null  float64
 10  Date         541909 non-null  object
 11  Time         541909 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(7)
memory usage: 49.6+ MB

In [61]:
#df['Date'] = df['datetime'].astype('datetime64[ns]')

df["Date"] = df["Date"].astype("datetime64[ns]")

In [66]:
type(df["Date"])

pandas.core.series.Series

In [68]:
df["Date"].astype

<bound method NDFrame.astype of 0        2010-12-01
1        2010-12-01
2        2010-12-01
3        2010-12-01
4        2010-12-01
            ...
541904   2011-12-09
541905   2011-12-09
541906   2011-12-09
541907   2011-12-09
541908   2011-12-09
Name: Date, Length: 541909, dtype: datetime64[ns]>

In [75]:
#df['Time'] = df['datetime'].dt.time.astype('object')
#df["Time"] = df["Time"].astype("datetime64[ns]")

df['Time'] = df['Time'].dt.strftime('%H:%M:%S')

AttributeError: Can only use .dt accessor with datetimelike values

In [78]:
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S').dt.time

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  541909 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   541909 non-null  float64
 7   Country      541909 non-null  object
 8   Data_copy    541909 non-null  datetime64[ns]
 9   sales        541909 non-null  float64
 10  Date         541909 non-null  datetime64[ns]
 11  Time         541909 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(1), object(6)
memory usage: 49.6+ MB

In [80]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Data_copy,sales,Date,Time
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850.0,United Kingdom,2010-12-01 08:26:00,15.30,2010-12-01,08:26:00
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01,3.39,17850.0,United Kingdom,2010-12-01 08:26:00,20.34,2010-12-01,08:26:00
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01,2.75,17850.0,United Kingdom,2010-12-01 08:26:00,22.00,2010-12-01,08:26:00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01,3.39,17850.0,United Kingdom,2010-12-01 08:26:00,20.34,2010-12-01,08:26:00
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01,3.39,17850.0,United Kingdom,2010-12-01 08:26:00,20.34,2010-12-01,08:26:00
...,...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09,0.85,12680.0,France,2011-12-09 12:50:00,10.20,2011-12-09,12:50:00
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09,2.10,12680.0,France,2011-12-09 12:50:00,12.60,2011-12-09,12:50:00
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09,4.15,12680.0,France,2011-12-09 12:50:00,16.60,2011-12-09,12:50:00
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09,4.15,12680.0,France,2011-12-09 12:50:00,16.60,2011-12-09,12:50:00
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09,4.95,12680.0,France,2011-12-09 12:50:00,14.85,2011-12-09,12:50:00

In [83]:
df["Profit"] = df["sales"] - df["sales"] *0.6

In [84]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Data_copy,sales,Date,Time,Profit
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850.0,United Kingdom,2010-12-01 08:26:00,15.30,2010-12-01,08:26:00,6.120
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01,3.39,17850.0,United Kingdom,2010-12-01 08:26:00,20.34,2010-12-01,08:26:00,8.136
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01,2.75,17850.0,United Kingdom,2010-12-01 08:26:00,22.00,2010-12-01,08:26:00,8.800
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01,3.39,17850.0,United Kingdom,2010-12-01 08:26:00,20.34,2010-12-01,08:26:00,8.136
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01,3.39,17850.0,United Kingdom,2010-12-01 08:26:00,20.34,2010-12-01,08:26:00,8.136
...,...,...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09,0.85,12680.0,France,2011-12-09 12:50:00,10.20,2011-12-09,12:50:00,4.080
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09,2.10,12680.0,France,2011-12-09 12:50:00,12.60,2011-12-09,12:50:00,5.040
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09,4.15,12680.0,France,2011-12-09 12:50:00,16.60,2011-12-09,12:50:00,6.640
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09,4.15,12680.0,France,2011-12-09 12:50:00,16.60,2011-12-09,12:50:00,6.640
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09,4.95,12680.0,France,2011-12-09 12:50:00,14.85,2011-12-09,12:50:00,5.940

In [85]:
df.to_excel("New_retail.xlsx")

KeyboardInterrupt

In [86]:
df.to_json("New_retail.json")